<md-icon md-svg-icon="{{$ctrl.selected.avatar}}" class="avatar"></md-icon>
<h2>{{$ctrl.selected.name}}</h2>
<p>{{$ctrl.selected.content}}</p>

<md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.share($event)" aria-label="Share">
  <md-icon md-svg-icon="share" ></md-icon>

</md-button>

<!--<md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.mail($event)" aria-label="Mail">
  <md-icon md-svg-icon="mail" ></md-icon>
</md-button>-->

</md-button>

<div>
  <ul id="messages"></ul>
    <form action="" title="Tell me something" name="message">
      <div>
         <md-input-container>
           <label></label>
           <!-- <input type='text' required name="message"/> -->
           <input id="m" rows="1" cols="500" required autocomplete="off"/>
           <!-- <input type='submit' value="Send"/> -->
           <button type="button" name="button">Send</button>
           <div></div>
         </md-input-container>
      </div>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
