<md-icon md-svg-icon="{{$ctrl.selected.avatar}}" class="avatar"></md-icon>
<h2>{{$ctrl.selected.name}}</h2>
<p>{{$ctrl.selected.content}}</p>

<!-- <md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.share($event)" aria-label="Share">
  <md-icon md-svg-icon="share" ></md-icon>
</md-button> -->

<!--<md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.mail($event)" aria-label="Mail">
  <md-icon md-svg-icon="mail" ></md-icon>
</md-button>-->

<md-div ng-controller="AppCtrl" layout="column" >
  <md-content layout-padding>
    <form title="Message" name="message">
      <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
        <div layout-gt-sm="row">

       <md-input-container class="md-block" flex-gt-sm>
         <label>Message</label>
         <input md-maxlength="500" required name="message" />
         <div class="hint" ng-if="showHints">Tell me something</div>
       </md-input-container>

       <div flex="50" hide-xs hide-sm>
         <!-- Spacer //-->
       </div>

      </div>
    </div>
    </form>
  </md-content>
</md-div>
